@model WebUI.Areas.Admin.Models.AdminCategoryViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_NewLayout.cshtml";
}

<h1 style="text-align:center;">Danh Mục Tin Tức</h1>
<h3>
    <button class="btn btn-info glyphicon glyphicon-plus">
        @Html.ActionLink("Thêm Mới", "Create", "ManageNewCategory", "", null)
    </button>
</h3>
@if (Model.ListNewCategory.Count == 0)
{
    <h3>Hiện Tại Chưa Có Danh Mục Nào</h3>
}
else
{
    <table id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
        <thead>
            <tr>

                <th>Thứ Tự Hiển Thị</th>
                <th>Tên Danh Mục</th>
                <th>Ngày Tạo</th>
                <th>Người Tạo</th>
                <th style="text-align:center;">Chỉnh Sửa</th>
                <th style="text-align:center;">Xóa</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListNewCategory)
            {
            <tr>
                <td>@item.ThuTuHienThi</td>
                <td>@item.Ten</td>

                <td>@item.NgayTao</td>
                <td>@item.NguoiTao</td>
                <td class="col-sm-1" style="text-align:center;">
                    <a href="@Url.Action("Edit", "ManageNewCategory",new { id=item.NewCategoryID})">
                        <i class="glyphicon glyphicon-edit btn btn-success"> </i>
                    </a>
                </td>
                <td class="col-sm-1" style="text-align:center;">
                    <a href="@Url.Action("ConfirmDelete", "ManageNewCategory",new { id=item.NewCategoryID})">
                        <i class="glyphicon glyphicon-trash btn btn-danger"> </i>
                    </a>
                </td>
            </tr>
            }                    
        </tbody>
    </table>
}



