
@model Domain.Models.OrderViewModel

@{
    /**/

    ViewBag.Title = "OrderDetails";
    Layout = "~/Areas/Admin/Views/Shared/_NewLayout.cshtml";
}

<h1 style="text-align:center;">Chi Tiết Đơn Hàng</h1>

<div class="row">
    <hr />
    <div class="col-sm-6 table table-bordered">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ShipName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShipName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ShipMobile)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShipMobile)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ShipAdress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShipAdress)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ShipEmail)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShipEmail)
            </dd>



            <dt>
                @Html.DisplayNameFor(model => model.Note)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Note)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreateDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreateDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreateBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreateBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedBy)
            </dd>
            <dt> Tổng Tiền</dt>
            <dd> @Model.TotalOrder</dd>
        </dl>
        <div class="col-sm-3" style="position:relative; left:400px;">
            <label> Tình Trạng Đơn Hàng:</label>
            @using (Html.BeginForm("Update", "ManageOrder", FormMethod.Post, new { @class = "form-horizontal" }))
    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(x => x.OrderId)
        <div style="display:inline-block;">
            @if (Model.IntStatus == 0)
    {
        <select name="IntStatus" required style="height:40px;">
            <option value="0">
                Chưa Giao Hàng
            </option>
            <option value="1">Đã Giao Hàng</option>
        </select>
}
else
{
        <select name="IntStatus" required >
            <option value="0" >
                Chưa Giao Hàng
            </option>
            <option value="1" selected>Đã Giao Hàng</option>
        </select>

}
            <span>
                <button type="submit" class="btn btn-success">Cập Nhật
                <i class="glyphicon glyphicon-refresh">
                    </i></button>
            </span>
        </div>


}
        </div>
        <div class="col-sm-3" style="position:relative; left:600px; top:20px;">
            <button class="btn btn-warning">
                <a href="@Url.Action("Delete", "ManageOrder",new { orderId = Model.OrderId })">
                    Xóa Đơn Hàng <i class="glyphicon glyphicon-trash"> </i>
                </a>
            </button>
        </div>
    </div>

</div>
    <div class="row">
        <h3>Chi Tiết Đơn Hàng</h3>
        <table id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
            <thead>
                <tr>
                    <td>Sản Phẩm</td>
                    <td>Đơn Giá</td>
                    <td>Số Lượng</td>
                    <td>Thành Tiền</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListOrderDetails)
                {
                <tr>
                    <td>
                        @item.SanPham.Ten
                    </td>
                    <td>@item.Quantity</td>
                    @if (item.SanPham.GiaKhuyenMai > 0)
                      {
                <td>
                    @String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:C0}", item.SanPham.GiaKhuyenMai)
                </td>

                <td>@String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:C0}", item.SanPham.GiaKhuyenMai * item.Quantity)</td>
                    }
                    else
                    {
                <td>
                    @String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:C0}", item.SanPham.Gia)
                </td>

                <td>@String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:C0}", item.SanPham.Gia * item.Quantity)</td>
                }
                </tr>
                }
            </tbody>
        </table>
    </div>



    
