@model Domain.Concrete.DanhMucTinTuc
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_NewLayout.cshtml";
}


<div class="page-header">
    <h1 style="text-align:center;">Chỉnh Sửa Danh Mục Tin Tức</h1>
</div>
@using (Html.BeginForm("Edit", "ManageNewCategory", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary()
    @Html.HiddenFor(x=>x.NewCategoryID)
    @Html.HiddenFor(x => x.NguoiChinhSua)
    <div class="form-group">
        @Html.LabelFor(x => x.Ten, new { @class = "control-label col-sm-3" })
        <div class="col-sm-9">
            @Html.TextBoxFor(x => x.Ten, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.ThuTuHienThi, new { @class = "control-label col-sm-3" })
        <div class="col-sm-9">
            @Html.TextBoxFor(x => x.ThuTuHienThi, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group" style="position:relative;left:12px;">
        <div class="col-sm-offset-3">
            <button type="submit" class="btn btn-info">
                Chỉnh Sửa
            </button>
        </div>
    </div>

}