@model IEnumerable<Domain.Models.OrderViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_NewLayout.cshtml";
}



<h2>Danh Sách Đơn Hàng</h2>
<table id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShipName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipMobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipAdress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>          
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedBy)
            </th>
            <th> Chi Tiết</th>
            <th>Hủy</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShipName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipMobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipAdress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedBy)
            </td>
            <td>
                <a href="@Url.Action("OrderDetails", "ManageOrder",new { orderId = item.OrderId})">
                    <i class="glyphicon glyphicon-edit btn btn-info"> </i>
                </a>
            </td>
            <td>
                <a href="@Url.Action("Delete", "ManageOrder")">
                    <i class="glyphicon glyphicon-remove btn btn-info"> </i>
                </a>
            </td>
        </tr>
        }
    </tbody>

</table>
