@using Microsoft.AspNet.Identity.EntityFramework;

@model IEnumerable<IdentityRole>

@{

    ViewBag.Title = "Quản lý quyền hạn người dùng";

    Layout = "~/Areas/Admin/Views/Shared/_NewLayout.cshtml";

}

<div class="row">

    <div class="col-sm-12">

        <h2>@ViewBag.Title</h2>

        <hr />

        @Html.ActionLink("Tạo Quyền", "Create", null, new { @class = "btn btn-info" })

        <br /><br />

              <table id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">

                  <thead>

                      <tr>

                          <th>ID</th>

                          <th>Tên quyền</th>

                          <th>Xóa</th>

                      </tr>

                  </thead>

                  <tbody>

                      @foreach (var item in Model)

                      {

                      <tr>

                          <td>@item.Id</td>

                          <td>@item.Name</td>
                          <td>
                              <a href="@Url.Action("Delete", "ManageRole",new { Id = item.Id })">
                                  <i class="glyphicon glyphicon-remove btn btn-info"> </i>
                              </a>
                          </td>
                         
                      </tr>

                      }

                  </tbody>

              </table>

    </div>

</div>


