@model WebUI.Models.AdminProductListModel
@{
    ViewBag.Title = "ListCategory";
    Layout = "~/Areas/Admin/Views/Shared/_NewLayout.cshtml";
}

<h2>Quản Lý Danh Mục</h2>
<h2>
    <button class="btn btn-info glyphicon glyphicon-plus">
        @Html.ActionLink("Thêm Danh Mục", "AddCategory", "ManageCategory", "", null)
    </button>
</h2>
<table id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
    <thead>
        <tr>
            <th class="col-sm-1">Mã Danh Mục</th>
            <th class="col-sm-1"><strong>Tên Danh Mục</strong></th>
            <th class="col-sm-1"><strong>Số Lượng Sản Phẩm</strong></th>
            <th class="col-sm-1"><strong>Thứ Tự Hiển Thị</strong></th>
            <th class="col-sm-1"><strong>Ngày Tạo</strong></th>
            <th class="col-sm-1"><strong>Nguoi Tạo</strong></th>

            <th class="col-sm-1"><strong>Ngày Chinh Sua</strong></th>

            <th class="col-sm-1">Chỉnh Sửa</th>
            <th class="col-sm-1"> Xóa</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var danhMuc in Model.DanhMucSanPhams)
        {
            <tr>
                <td>@danhMuc.CategoryProductID</td>
                <td>@danhMuc.Ten</td>
                <td>@danhMuc.SanPhams.Count()</td>
                <td>@danhMuc.ThuTuHienThi</td>
                <td>@danhMuc.NgayTao</td>
                <td>@danhMuc.NguoiTao</td>
                <td>@danhMuc.NgayChinhSua</td>
                <td>
                    <a href="@Url.Action("EditCategory","ManageCategory",new {id=danhMuc.CategoryProductID })">
                        <i class="glyphicon glyphicon-edit btn btn-info"></i>
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("DeleteCategory","ManageCategory",new {id=danhMuc.CategoryProductID })">
                        <i class="glyphicon glyphicon-remove-sign btn btn-info  "></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


