@model Domain.Concrete.TinTuc
@{
    ViewBag.Title = "Tin Tức";
    Layout = "~/Views/Shared1/_Layout.cshtml";
}

<div class="columns-container">
    <div id="columns" class="container">

        <div class="breadcrumb clearfix">
            <a class="home" href="/" title="Trở về Trang chủ">
                <i class="fa fa-home"></i>
            </a>
            <span class="">&gt;</span>
            <span>
                @ViewBag.CategoryTitle
            </span>
        </div>

        <div id="slider_row" class="row">
        </div>

        <div class="row">
            <div class="large-left col-sm-12">
                <div class="row">

                    <div id="center_column" class="center_column col-xs-12 col-sm-9 accordionBox">
                        <div id="sdsblogArticle" class="blog-post">
                            <h1 class="title_block_exclusive">@Model.Ten</h1>
                            <div class="articleHeader">
                                <div class="postInfo">
                                    Đăng bởi<span itemprop="author"><i class="fa fa-user"></i> @Model.NguoiTao</span>
                                    <span itemprop="dateCreated">
                                        <i class="fa fa-calendar"></i>
                                        &nbsp;@(Model.NgayTao.HasValue ? Model.NgayTao.Value.ToString("MMM dd, yyyy") : DateTime.Now.ToString("MMM dd, yyyy"))
                                    </span>
                                    <span itemprop="articleSection">
                                        <i class="fa fa-tags"></i>
                                        
                                    </span>
                                    @*<span class="comments"><i class="fa fa-comments"></i> 5 bình luận</span>*@
                                    <span class="views">
                                        <i class="fa fa-eye"></i> @Model.LuotXem lượt xem
                                    </span>
                                </div>
                            </div>
                            <div itemprop="articleBody">
                                <div class="post-image">
                                    <img class="img-responsive" src="@Model.HinhAnh" alt="@Model.Ten">
                                </div>
                                <div class="sdsarticle-des">
                                    @Html.Raw(Model.NoiDungTinTuc)
                                </div>
                                <div class="sdstags-update">
                                    <span class="tags">
                                       
                                    </span>
                                </div>
                            </div>
                            <div class="sdsarticleBottom">
                                <div class="block-addthis">
                                    <!-- Go to www.addthis.com/dashboard to customize your tools -->
                                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4fccc98d09eb20ae"></script>
                                    <!-- Go to www.addthis.com/dashboard to customize your tools -->
                                    <div class="addthis_native_toolbox"></div>
                                </div>
                                <div id="articleRelated" class="block">
                                    <h4 class="title_block">Bài viết liên quan: </h4>
                                    <div class="block_content">
                                        @if (ViewBag.ListRelateNews != null) { 
                                        <ul class="row">
                                            @foreach (var item in (IList<Domain.Concrete.TinTuc>)ViewBag.ListRelateNews)
                                            {

                                                <li class="col-xs-12 col-sm-6 col-md-4">
                                                    <a class="products-block-image" title="@item.Ten" href="@Url.Action("Details", "New", new { id = item.NewID })">
                                                        <img class="img-responsive" style="width: 300px; height: 165px;" alt="@item.Ten" src="@item.HinhAnh">
                                                    </a>
                                                    <p><a class="post-name" title="@item.Ten" href="@Url.Action("Details", "New", new { id = item.NewID })">@item.Ten</a></p>
                                                    <span class="info">@(Model.NgayTao.HasValue ? Model.NgayTao.Value.ToString("MMM dd, yyyy") : DateTime.Now.ToString("MMM dd, yyyy"))</span>
                                                </li>
                                            }
                                        </ul>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>                                           
                    </div>

                    <div id="left_column" class="column col-xs-12 col-sm-3">
                        <section id="category_blog_block_left" class="block">
                            <h4 class="title_block">
                                <a href="#">Danh mục</a>
                            </h4>
                            <div class="block_content list-block">
                                <ul>
                                    @foreach (var item in (IList<Domain.Concrete.DanhMucTinTuc>)ViewBag.ListNewCategory)
                                    {
                                        <li>
                                            <a class="font-size-child-menu" href="@Url.Action("Index", "New", new { newCategoryId = item.NewCategoryID })">@item.Ten</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </section>
                        <section id="recent_article_smart_blog_block_left" class="block">
                            <h4 class="title_block">
                                <a href="#">Bài viết gần đây</a>
                            </h4>
                            <div class="block_content products-block" style="">
                                @if (ViewBag.ListRecentNews != null)
                                {                               
                                <ul>
                                    @foreach (var item in (IList<Domain.Concrete.TinTuc>)ViewBag.ListRecentNews)
                                    {
                                        <li class="clearfix">
                                            <a class="products-block-image" title="@item.Ten" href="@Url.Action("Details", "New", new { id = item.NewID })">
                                                <img width="98" height="54" alt="@item.Ten" src="@item.HinhAnh" />
                                            </a>
                                            <div class="product-content">
                                                <a class="post-name" title="@item.Ten" href="@Url.Action("Details", "New", new { id = item.NewID })">@item.Ten</a>
                                                <span class="info">@(item.NgayTao.HasValue ? item.NgayTao.Value.ToShortDateString() : "")</span>
                                            </div>
                                        </li>
                                    }
                                </ul>
                                }
                            </div>
                        </section>
                        <div class="block" id="smartblogsearch">
                            <h4 class="title_block">
                                <a href="#">Tìm kiếm</a>
                            </h4>
                            <div id="sdssearch_block_top" class="block_content clearfix" style="">
                                <form action="#" method="post" id="searchbox">
                                    <input type="hidden" value="0" name="smartblogaction">
                                    <input type="text" value="" placeholder="Bạn cần tìm gì?" name="smartsearch" id="search_query_top" class="search_query form-control ac_input" autocomplete="off">
                                    <button class="btn btn-default button-search" name="smartblogsubmit" type="submit">
                                        <span>Bạn cần tìm gì?</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

